ion-view(view-title='Activity')
    ion-content.animate-fade-slide-in(ng-class='{expanded:isExpanded}')
        .item.card-item
            .card.stable-bg.ink.ink-dark(ui-sref='app.gallery')
                .item.item-avatar.item-text-wrap
                    span.avatar(style="background-image: url('img/jon-snow.jpg');")
                    strong Jon Snow
                    |  knows nothing.
                    .card-footer.text-right
                        i.icon.ion-chatbubbles.positive
                        |  6
                        i.icon.ion-heart.assertive
                        |  23
                        .pull-left
                            i.icon.ion-clock
                            |  just now
        .item.card-item
            .card.stable-bg.ink.ink-dark(ui-sref='app.gallery')
                .item.item-avatar.item-text-wrap
                    span.avatar(style="background-image: url('img/tyrion.jpg');")
                    strong Tyrion Lannister
                    |  says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    .card-footer.text-right
                        i.icon.ion-chatbubble.positive
                        |  2
                        i.icon.ion-heart.assertive
                        |  4
                        .pull-left
                            i.icon.ion-clock
                            |  12 mins ago
        .item.card-item
            .card.stable-bg.ink.ink-dark(ui-sref='app.gallery')
                .item.item-avatar.item-text-wrap
                    span.avatar(style="background-image: url('img/sansa.jpg');")
                    strong Sansa Stark
                    |  added a gallery
                    strong Pretending to be Anna from Frozen
                    |  ...
                    a.image
                        img(src='img/sansa-snowcastle.png')
                    a.image
                        img(src='img/sansa-snowcastle2.jpg')
                    a.image
                        img(src='img/sansa-snowcastle3.jpg')
                    .card-footer.text-right
                        i.icon.ion-chatbubble.positive
                        |  2
                        i.icon.ion-heart.assertive
                        |  4
                        .pull-left
                            i.icon.ion-clock
                            |  3 hrs ago
ion-view(view-title='Activity')
    ion-content.animate-fade-slide-in(ng-class='{expanded:isExpanded}')
        .item.card-item
            .card.stable-bg.ink.ink-dark(ui-sref='app.gallery')
                .item.item-avatar.item-text-wrap
                    span.avatar(style="background-image: url('img/jon-snow.jpg');")
                    strong Jon Snow
                    |  knows nothing.
                    .card-footer.text-right
                        i.icon.ion-chatbubbles.positive
                        |  6
                        i.icon.ion-heart.assertive
                        |  23
                        .pull-left
                            i.icon.ion-clock
                            |  just now
        .item.card-item
            .card.stable-bg.ink.ink-dark(ui-sref='app.gallery')
                .item.item-avatar.item-text-wrap
                    span.avatar(style="background-image: url('img/tyrion.jpg');")
                    strong Tyrion Lannister
                    |  says "Perhaps that is the secret. It is not what we do, so much as why we do it."
                    .card-footer.text-right
                        i.icon.ion-chatbubble.positive
                        |  2
                        i.icon.ion-heart.assertive
                        |  4
                        .pull-left
                            i.icon.ion-clock
                            |  12 mins ago
        .item.card-item
            .card.stable-bg.ink.ink-dark(ui-sref='app.gallery')
                .item.item-avatar.item-text-wrap
                    span.avatar(style="background-image: url('img/sansa.jpg');")
                    strong Sansa Stark
                    |  added a gallery
                    strong Pretending to be Anna from Frozen
                    |  ...
                    a.image
                        img(src='img/sansa-snowcastle.png')
                    a.image
                        img(src='img/sansa-snowcastle2.jpg')
                    a.image
                        img(src='img/sansa-snowcastle3.jpg')
                    .card-footer.text-right
                        i.icon.ion-chatbubble.positive
                        |  2
                        i.icon.ion-heart.assertive
                        |  4
                        .pull-left
                            i.icon.ion-clock
                            |  3 hrs ago
