ion-view(view-title='Friends')
    ion-content(ng-class='{expanded:isExpanded}')
        .content.has-header
            .list.animate-fade-slide-in-right
                a.item.item-avatar.item-icon-right(href='#/app/profile')
                    img(src='img/jon-snow.jpg')
                    h2 Jon Snow
                    p Da illest illegitimate
                    i.icon.ion-chatbubble.muted
                a.item.item-avatar.item-icon-right(href='#/app/profile')
                    img(src='img/daenerys.jpg')
                    h2 Daenerys Targaryen
                    p Dragon mommy
                    i.icon.ion-chatbubble.muted
                a.item.item-avatar.item-icon-right(href='#/app/profile')
                    img(src='img/arya.jpg')
                    h2 Arya Stark
                    p Is Chuck Norris' fear
                    i.icon.ion-chatbubble.muted
                a.item.item-avatar.item-icon-right(href='#/app/profile')
                    img(src='img/sansa.jpg')
                    h2 Sansa Stark
                    p
                        | & Joffrey
                        strike sitting
                        |  sat in a tree
                    i.icon.ion-chatbubble.muted
                a.item.item-avatar.item-icon-right(href='#/app/profile')
                    img(src='img/tyrion.jpg')
                    h2 Tyrion Lannister
                    p B.A.M.F. imp
                    i.icon.ion-chatbubble.muted
