ion-view(view-title='Gallery')
    ion-content.animate-fade-slide-in(ng-class='{expanded:isExpanded}')
        .list.half
            .card.card-gallery.item.item-text-wrap(ui-sref='app.profile')
                .ink.dark-bg
                    h2 Where's Elsa?
                    img.full-image(src='img/sansa-snowcastle3.jpg')
                .item.tabs.tabs-secondary.tabs-icon-left
                    a.tab-item.stable-bg.assertive
                        i.icon.ion-heart
                        |                         4
                    a.tab-item.stable-bg.positive-900
                        i.icon.ion-chatbubbles
                        |                         2
            .card.card-gallery.item.item-text-wrap(ui-sref='app.profile')
                .ink.dark-bg
                    h2 Hmm. Hope nobody destroys this!
                    img.full-image(src='img/sansa-snowcastle.png')
                .item.tabs.tabs-secondary.tabs-icon-left
                    a.tab-item.stable-bg.assertive
                        i.icon.ion-heart
                        |                         6
                    a.tab-item.stable-bg.positive-900
                        i.icon.ion-chatbubbles
                        |                         1
        .list.half
            .card.card-gallery.item.item-text-wrap(ui-sref='app.profile')
                .ink.dark-bg
                    h2 Making Olaf a House
                    img.full-image(src='img/sansa-snowcastle2.jpg')
                .item.tabs.tabs-secondary.tabs-icon-left
                    a.tab-item.stable-bg.assertive
                        i.icon.ion-heart
                        |                         22
                    a.tab-item.stable-bg.positive-900
                        i.icon.ion-chatbubbles
                        |                         9
            .card.card-gallery.item.item-text-wrap(ui-sref='app.profile')
                .ink.dark-bg
                    h2 ohai!
                    img.full-image(src='img/sansa-snowcastle4.jpg')
                .item.tabs.tabs-secondary.tabs-icon-left
                    a.tab-item.stable-bg.assertive
                        i.icon.ion-heart
                        |                         8
                    a.tab-item.stable-bg.positive-900
                        i.icon.ion-chatbubbles
                        |                         0
